#favourites-section {
    margin-top: 3rem;
}

.product__images {
    list-style: none;
    margin: 2rem 0 0 0;
    padding: 0;
}

.product__image-item {
    float: left;
    width: 50%;
    background: black;
}

.product__image-item img {
    opacity: 0.7;
    vertical-align: middle;
    width: 100%;
}

@media (min-width: 40rem) {
    .product__image-item {
        float: left;
        width: 25%;
        background: black;
    }
}

#retailer-section {
    margin: 45px 0;
    padding: 1.3rem;
}

.retailer__list {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.retailer__item img {
    width: 35%;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #EC9A29;
}

.retailer__item address {
    text-align: left;
    display: inline-block;
    margin-left: 1rem;
    font-size: .9rem;
}

@media (min-width: 40rem) {
    .retailer__list {
        width: 90%;
        text-align: center;
    }

    .retailer__item {
        display: inline-block;
        vertical-align: top;
        text-align: center;
        width: 30%;
    }

    .retailer__item img {
        width: 80%;
    }

    .retailer__item address {
        margin-left: 0;
        font-size: unset;
        margin-top: 1.3rem;
        padding-left: 5rem;
    }
}