body {
    background-color: lightgray;
    padding: 32px;
    border: 5px solid white;
    margin: 32px;
}

.pokemon__index-section {
    border: 5px solid #EC9A29;
    background-color: white;
    padding: 16px;
    margin: 32px 0;
}

.pokemon__index-section div {
    border: 2px solid black;
    padding: 5px;
    margin: 5px 0;
}

div.pokemon__name {
    background-color: cornsilk;
    margin-left: 80px;
    position: relative;
    z-index: 1;
}

.pokemon__index-letter {
    color: white;
    font-weight: bold;
    background-color: brown;
    position: sticky;
    top: 10px;
}