* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #530100;
    font-family: Lato, sans-serif;
}

h2 {
    text-align: center;
}

h2::after {
    display: block;
    height: 2px;
    background-color: #EC9A29;
    content: " ";
    width: 100px;
    margin: 30px auto 0;
}

a {
    text-decoration: none;
    color: #EC9A29;
    padding-bottom: 2px;
}

a:hover,
a:active {
    border-bottom: 3px solid #333;
}

a.image-link:hover,
a.image-link:active {
    border: none;
}

address {
    font-style: normal;
}

.clearfix {
    overflow: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#heading-section {
    background: #EC9A29;
    height: 200px;
}

#heading-section h1 {
    color: white;
    padding: 20px;
}

.navigation {
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    padding: 20px;
}

.navigation a {
    font-weight: 700;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    border-color: white;
}

.navigation__start {
    display: inline-block;
}

.navigation__start img {
    height: 30px;
}

.navigation__items {
    display: inline-block;
    margin-left: 45px;
}

.navigation__items ul {
    padding: 0;
    margin: 0;
}

.navigation__items ul > li {
    display: inline-block;
    margin-left: 10px;
}

#favourites-section {
    margin-top: 45px;
}

.product__images {
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.product__image-item {
    float: left;
    width: 25%;
    background: black;
}

.product__image-item img {
    opacity: 0.7;
    vertical-align: middle;
    width: 100%;
}

#retailer-section {
    margin: 45px 0;
    padding: 20px;
}

.retailer__list {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

.retailer__item {
    display: inline-block;
    text-align: center;
    width: 30%;
}

.retailer__item img {
    width: 80%;
    border-radius: 50%;
    border: 2px solid #EC9A29;
}

.retailer__item address {
    text-align: left;
    margin-top: 20px;
    padding-left: 80px;
}