#testimonial-section {
    padding: 20px;
    margin: 3rem auto 0;
    width: 60%;
}

.testimonial__item {
    margin-top: 2rem;
    font-size: larger;
    font-style: italic;
}

.testimonial__item.testimonial__item--flipped > h3 {
    text-align: right;
}

.testimonial__image {
    float: left;
    width: 20%;
}

.testimonial__item--flipped .testimonial__image {
    float: right;
}

.testimonial__image img {
    width: 100%;
}

.testimonial__text {
    margin-left: calc(20% + 20px);
}

.testimonial__item--flipped .testimonial__text {
    margin-left: 0;
    margin-right: calc(20% + 20px);
}