#testimonial-section {
    padding: 20px;
    margin: 3rem auto 0;
}

.testimonial__item {
    margin-top: 2rem;
    font-size: larger;
    font-style: italic;
}

.testimonial__item.testimonial__item--flipped > h3 {
    text-align: right;
}

.testimonial__image {
    float: left;
    min-width: 200px;
    margin-right: 1.3rem;
    width: 30%;
}

.testimonial__item--flipped .testimonial__image {
    float: right;
}

.testimonial__image img {
    width: 100%;
}

.testimonial__item--flipped .testimonial__image {
    margin-left: 1.3rem;
    margin-right: 0;
}

@media (min-width: 40rem) {
    #testimonial-section {
        width: 60%;
    }
}